.header {
  width: 100%;
  padding: 30px;
  text-align: center;
  background-color: rgb(189, 161, 161);
  font-size: 25px;
  //   font-weight: bold;
  text-transform: uppercase;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
