body {
  font-family: "Roboto", sant-serif;
}

.resent-post {
  margin-top: 38px;
}

.section-header {
  margin-top: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $text-menu-color;
}

.resent-post__title {
  margin: 0;
  margin-top: 11px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: $text-menu-color;
  @media (min-width: 768px) {
    margin: 0;
  }
}

.reset-post__inner {
  @media (min-width: 768px) {
    margin-left: 21px;
    width: 404px;
  }
}

.resent-post__link-block {
  position: relative;
  margin: 0;
  a {
    font-size: 12px;
    line-height: 20px;
    color: $text-color;
    &:nth-child(2) {
      margin-left: 15px;
    }
  }
  &:before {
    content: " / ";
    position: absolute;
    color: $text-color;
    top: 1px;
    left: 122px;
  }
}

.resent-post__wrapper {
  padding: 0;
  @media (min-width: 768px) {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
}

.resent-post__item {
  @extend %list-reset;
  margin-bottom: 32px;
  @media (min-width: 768px) {
    display: flex;
    justify-content: start;
    // flex-wrap: wrap;
  }
}

.resent-post__deskr {
  margin-top: 13px;
  font-size: 14px;
  line-height: 26px;
  color: $text-color-deskr;
}

.resent-post__deskr--active {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.resent-post__item--momile {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
}

.instagram {
  padding: 47px 0 49px;
  @media (min-width: 768px) {
    background-color: #f5f5f5;
  }
}

.instagram__header-wrap {
  @extend %flex-space;
}

.instagram__title {
  display: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: $text-menu-color;
  @media (min-width: 768px) {
    display: block;
  }
}

.instagram__wrap {
  @extend %list-reset;
  margin-right: 10px;
  @extend %flex-space;
}

.instagram__intem {
  display: none;
  &--plan {
    @media (min-width: 768px) {
      margin-right: 0px;
      display: block;
    }
  }
  &--desktop {
    @media (min-width: 1174px) {
      display: block;
      margin-right: 0px;
    }
  }
}

.instagram__intem--mobil {
  display: block;
}
