$text-menu-color: #4e4e4e;
$text-menu-current: #57a4a4;
$menu-color: #f5f5f5;
$menu-color-hover: #e5e5e5;
$black-color: #000000;
$text-color: #7c7c7c;
$text-color-deskr: #5c5c5c;
$white-color: #fefefe;
$footer-text-color: #b9b9b9;
