.modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(48, 45, 45, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  border-radius: 5px;
  background-color: rgb(212, 70, 55);
  width: 516px;
  padding-bottom: 35px;
}
.modal__header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: rgb(179, 56, 44);
}
.modal__header-text {
  font-size: 22px;
  color: rgb(255, 255, 255);
}
.modal__header-btn {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: url(./cross.png) center center / cover no-repeat;
  width: 20px;
  height: 20px;
}
.modal__wrap-text {
  font-size: 15px;
  padding: 10px 45px;
  color: rgb(255, 255, 255);
  line-height: 2;
  text-align: center;
}
.modal__btn-first {
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  background-color: rgb(179, 56, 44);
  width: 101px;
  height: 41px;
}
.modal__btn-first:first-of-type {
  margin-right: 30px;
}

.modal__btn-second {
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  background-color: rgb(38, 147, 91);
  width: 120px;
  height: 41px;
}
.modal__btn-second:first-of-type {
  margin-right: 30px;
}
